ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scipy

xgboost
catboost
pymongo
from_root
evidently==0.4.40
dill
PyYAML
neuro_mf
boto3
mypy-boto3-s3
botocore
fastapi
uvicorn
jinja2
python-multipart

scikit-learn==1.5.1
imbalanced-learn==0.14.1

-e .